<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Feeds</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div>
                {% for catagory, message in messages %}
                    <div class="flash-{{ catagory }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% if current_user.is_authenticated %}
        <div>
            <a href="/logout">logout</a>
        </div>
        <div id="entries-table">Loading...</div>
        {% raw %}
            <script id="entries-template" type="text/x-handlebars-template">
                <table>
                    {{#each this}}
                        <tr>
                            <td class="meta-info">
                                <a href="{{ source.link }}">{{ source.label }}</a>
                            </td>
                            <td class="meta-info">{{ updated }}</td>
                            <td class="meta-info">
                                <a href="{{ link }}">{{ title }}</a>
                            </td>
                            <td>{{ summary }}</td>
                        </tr>
                    {{/each}}
                </table>
            </script>
        {% endraw %}
    {% else %}
        <form action="/login" method="post">
            {{ login_form.hidden_tag() }}
            <div>{{ login_form.name.label }}{{ login_form.name() }}</div>
            <div>{{ login_form.password.label }}{{ login_form.password() }}</div>
            <div><input type="submit" value="Login"></div>
        </form>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.1/handlebars.min.js" integrity="sha256-Mki72593zH3nxiQrW1mskmSOAXOep8FVIK0ozKFISyY=" crossorigin="anonymous"></script>
    <script src="/static/scripting.js"></script>
</body>
</html>
